.Title {
    color: black;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px #ff0000;
    font-size: 60px;
}

button {
    font-size: 20px;
    background-color: grey;
    margin: 10px;
    font-family: inherit;
    font-weight: bold;
}

.OutputText {
    border: 2px solid red;
    width: 600px;
    height: 150px;
    position: fixed;
    left: 50%;
    bottom: -60px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: 25px;
}

.BtnContainer {
    display: grid;
    max-width: 600px;
    margin: 0 auto;
    grid-template-columns: 200px 200px 200px;
    gap: 10px;
}